*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #F0E9D7; 
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EFE3;
    /*f1e3bd*/
    height: 80px;
    padding: 5px 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.header .logo img{
    height: 35px;
    width: auto;
    transition: all 0.13s;
}

.header .logo img:hover{
transform: scale(1.2);
}
.header .navlinks{
    list-style: none;
    justify-content: inherit;
}
.header .navlinks li{
    display: inline-block;
    padding: 0 10px;
    color: #591E08;
}
.header .navlinks a{
    color: #BF8C60;
    text-decoration: none;
}
.header .navlinks li:hover{
    transform: scale(1.1);
}
.header .navlinks a:hover{
    color: #591E08;
}
.header .btn button{
    display: flex-end;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    color: beige;
    padding: 9px 20px;
    background-color: #591E08;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 20px;
}
.header .btn button:hover{
    background-color: #A6633C;
    color: beige;
    transform: scale(1.1);
}

.caja{
box-sizing: border-box;
position: absolute;
width: 470px;
height: 470px;
left: 50px;
top: 120px;
border: 3px solid #591E08; 
filter: blur(2px);
}
.polarft img{
    position: absolute;
width: 470px;
height: 470px;
left: 80px;
top: 150px;
}
.name{
    position: absolute;
width: 866px;
height: 78px;
left: 500px;
top: 250px;

font-family: 'Michelle';
font-style: normal;
font-weight: 400;
font-size: 87px;
line-height: 110px;
text-align: center;

color: #591E08;
}
.present{
    position: absolute;
width: 480px;
height: 290px;
left: 700px;
top: 350px;

font-family: 'Poppins';
font-style: light;
font-size: 20px;
line-height: 35px;
color: #591E08;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    position: absolute;
    left: 340px;
    top: 280px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}
.tcontact{
    position: absolute;
    width: 390px;
    height: 134px;
    left: 80px;
    top: 100px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 114px;
    text-align: center;
    
    color: #BD8C61;
}
.tcontact2{  
position: absolute;
width: 390px;
height: 134px;
left: 77px;
top: 106px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 114px;
text-align: center;

color: #591E08;
}
.caja2{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 160px;
    top: 220px;
    
    background: #591E08;
    border-radius: 30px;
}
.caja3{
    position: absolute;
    width: 700px;
    height: 500px;
    left: 200px;
    top: 250px;
    
    background: #8B6252;
    box-shadow: 0px 4px 80px #5A2C22;
    border-radius: 31px;
}
form input, form textarea{
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #F5EFE3;
    font-size: 14px;
    font-family: 'Poppins';
font-style: light;
}
form button{
    background-color: #591E08;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 700;
    border: none;
    color: #F5EFE3;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}
.gtheme{
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
min-height: 100vh;
padding: 50px 0px;
}
.gtitulo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
width: 866px;
height: 78px;
left: 250px;
top: 160px;

font-family: 'Michelle';
font-style: normal;
font-weight: 400;
font-size: 87px;
line-height: 110px;
text-align: center;
color: #591E08;
}

.gparrafo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
left: 434px;
top: 240px;

font-family: 'Poppins';
font-style: light;
font-size: 19px;
line-height: 35px;
color: #591E08;
}

.fotos img{
    width: 230px;
    padding: 5px;
    filter: brightness(80%);
    transition: 1s;
}
.fotos img:hover{
    filter: blur(80%);
    transform: scale(1.1);
}
.container{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container a img{
width: 100%;
height: 100%;
object-fit: cover;
}
.container{
    position: absolute;
    top: 300px;
    left: 150px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}